@import "tailwindcss";

@utility bg-grid-slate-200 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cpath d='M0 0h40v40H0z' fill='none'/%3E%3Cpath d='M40 0H0v40' fill='none' stroke='rgb(226, 232, 240)' stroke-width='1'/%3E%3C/svg%3E");
}
